---
apiVersion: v1
kind: Secret
metadata:
  name: azure-key-vault-store
  namespace: external-secrets
type: Opaque
stringData:
  clientId: {{ external_secrets_client_id }}
  clientSecret: {{ external_secrets_client_secret }}
